@model List<ResultAboutDto>
@*
    _DefaultAboutComponent
*@

<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            
            @foreach (var item in Model)
            {
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="@item.ImageUrl">
                    </div>
                </div>

                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">About Us</div>
                    <h1 class="mb-4">@item.Title</h1>
                    <p class="mb-4">
                        @item.Description
                    </p>

                    <div class="mb-4">
                        @await Component.InvokeAsync("_DefaultAboutItemComponent")
                    </div>

                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-primary rounded-pill px-4 me-3" href="">Daha Fazlası</a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</div>