@*
    _AdminNavbarComponent
*@
<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="index.html"><img class="logo_icon img-responsive" src="~/AdminPluto-1.0.0/images/logo/logo_icon.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="~/AdminPluto-1.0.0/images/layout_img/user_img.jpg" alt="#" /></div>
                <div class="user_info">
                    <h6>Admin</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li>
                <a href="/Admin/About/Index">
                    <i class="fa fa-info-circle orange_color"></i> <span>Hakkımızda</span>
                </a>
            </li>

            <li>
                <a href="/Admin/AboutItem/Index">
                    <i class="fa fa-list-alt yellow_color"></i> <span>Hakkımızda İtemler</span>
                </a>
            </li>

            <li>
                <a href="/Admin/Choose/Index">
                    <i class="fa fa-check-square-o green_color"></i> <span>Neden Biz</span>
                </a>
            </li>

            <li>
                <a href="/Admin/FAQ/Index">
                    <i class="fa fa-question-circle purple_color"></i> <span>FAQ Alanı</span>
                </a>
            </li>

            <li>
                <a href="/Admin/Feature/Index">
                    <i class="fa fa-star yellow_color"></i> <span>Özellikler</span>
                </a>
            </li>

            <li>
                <a href="/Admin/Social/Index">
                    <i class="fa fa-share-alt blue_color"></i> <span>Sosyal Medya</span>
                </a>
            </li>

            <li>
                <a href="/Admin/Testimonial/Index">
                    <i class="fa fa-quote-left red_color"></i> <span>Yorumlar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Project/Index">
                    <i class="fa fa-briefcase orange_color"></i> <span>Projeler</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Banner/Index">
                    <i class="fa fa-picture-o red_color"></i> <span>Banner</span>
                </a>
            </li>

            <li>
                <a href="/Admin/Category/Index">
                    <i class="fa fa-tags blue_color"></i> <span>Kategoriler</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


